name: Ruff Linting

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ruff-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code (Clones the repo/Downloads the filesystem)
        uses: actions/checkout@v4

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install and run Ruff
        run: pip install ruff && ruff check .

